//
// _card.scss
//

.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: $box-shadow;
  border-radius: 10px;
  background: $card-gradient-bg;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 16px;
  margin: 0 0 7px 0;
  font-weight: $font-weight-semibold;
  color: white;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 24px;
}

.react-resizable-handle {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDE1SDBWMTAuNUgxMC41VjBIMTVWMTVaIiBmaWxsPSIjNUI2MTc4Ii8+Cjwvc3ZnPgo=);
}

// options modal
.options-modal > .modal-content {
  background: #141823;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.options-modal-content {
  height: 474px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.option-card {
  width: 303px;
  height: 300px;
  background: #242a35;
  border: 3px solid #3d485a;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.option-card-button {
  height: 73px;
  border-top: 3px solid #3d485a;
}

.option-card:hover {
  border: 3px solid #194edd;
}

.option-card:hover > .option-card-button {
  border-top: 3px solid #194edd;
}

.card-actions {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  gap: 16px;

  .btn-move {
    pointer-events: all;
    cursor: grab;
  }
}

.react-grid-layout {
  .card {
    border: 1px solid #191919;
  }
}

.hidden-card{
  opacity: 0;
  &:hover{
    opacity: 1;
  }
}