// 22 - 1.375rem; 
//34 - 2.125rem

$lime: #14F195;

.fs-16 {
  font-size: 1rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-34 {
  font-size: 2.125rem;
  font-weight: 600;
}

.color-lime {
  color: $lime;
}

.flex-1 {
  flex: 1;
}

// .new-chart-modal {
//   .modal-dialog {
//     min-width: 700px !important;
//   }
// }

.new-chart {


  .inner {
    // max-width: 77rem;
    margin-inline: auto;
  }

  .top {
    p {
      line-height: 24px;
      margin: 0;

    }
  }

  .add-chart-area {
    height: 25.5625rem;
    margin-block: 1rem 112px;
    border: 2px dashed #F6F8FF;
    border-radius: 20px;
    display: grid;
    place-items: center;

    .btn {
      all: unset;
      cursor: pointer;
    }
  }
}




.paste-chart {
  h5 {
    cursor: pointer;
  }

  textarea {
    margin-top: 1rem;
    border: 1px solid rgba(162, 255, 161, 0.8);
    border-radius: 1rem;
  }

}

.chart-type {

  .modal-body {
    &-left {
      background-color: #242A35;
      flex: 1;

      img {
        width: 100%;
      }

      .text-content {
        h6 {
          font-size: 1.125rem;
        }

        font-size: 14px;
        margin-top: 1.5rem;
        padding-inline: 1rem;
      }
    }

    &-right {
      flex: 1;

      .chart-item {
        margin-bottom: 0.5rem;

        &-inner {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          background-color: rgba(36, 42, 53, 1);
          padding: 0.5rem;
          border-radius: 8px;
          cursor: pointer;

          &.active {
            background-color: rgba(61, 72, 90, 1)
          }

          img {
            width: 3.5rem;
          }

          p {
            margin: 0;
          }
        }

      }
    }
  }
}

// Load chart options

.load-chart-option {
  font-size: 1.125rem;
  color: white;

  .chart-option {
    .inner {
      height: 78px;
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: #3D485A;

      &.active {
        background: #4D74FF;

      }

      padding: 24px;
      border-radius: 12px;
      cursor: pointer;
      margin-bottom: 20px;

      p {
        margin: 0;
        flex: 1;

      }

      img {
        width: 1.5rem;

      }
    }
  }
}

.preview-chart {
  .modal-body-inner {
    display: flex;
    gap: 1.5rem;

    .inner-left {
      flex: 1;
    }

    input {

      width: 50%;
      background-color: #242A35;
      border: none;

    }

    .inner-right {
      flex: 2;

      img {
        border-radius: 1rem;
        width: 100%;
      }
    }
  }

  .list {
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      p {
        margin: 0;
      }
    }
  }
}