.card.revenue-by-chain {
  .card-body {
    display: flex;
    flex-direction: column;
  }

  #revenue-by-chain-chart {
    flex: 1;
  }

  ._tooltip {
    width: 150px;

    .total {
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 600;
    }

    .serie {
      display: flex;
      align-items: center;
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-weight: 500;

      .tag {
        width: 10px;
        height: 10px;
        border-radius: 2px;
        margin-right: 10px;
      }

      .name {
        color:rgba(255, 255, 255, 0.6);
        margin-right: auto;
      }

      .value {
        color: white;
      }
    }
  }
}